.container {
  width: 60%;
  background-color: #f7f7f7;
  margin: 20px 0px 0px 200px;
  padding: 30px;
}
.input {
  width: 80%;
  font-size: medium;
  border: none;
  outline: none;
  padding: 20px;
}
.button {
  width: 10%;
  font-size: medium;
  padding: 20px;
}
